
:root {
    --white: #ffffff;
    --pink: #ff4e50;
    --roboto-font: 'Roboto', sans-serif;
    --montserrat-font: 'Montserrat', sans-serif;
}
.header {
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
}

.nav-wrap {
    display: flex;
}
.nav-item {
    display: block;
    color: var(--white);
    text-decoration: none;
    color: var(--white);
    text-align: center;
    border: 0.125rem solid rgba(255, 255, 255, 0);
    padding: 0.625rem 0.9375rem;
    border-radius: 1.125rem;
    font-family: var(--montserrat-font);
    font-size: 0.875rem;
    font-weight: bold;
}
.nav-item:hover {
    border-color: rgba(255, 255, 255, 1);
}
.header-action {
    text-align: center;
}
.logo {
    width: 100%;
    font-family: var(--montserrat-font);
    font-size: 1.25rem;
    font-weight: bold;
}
.action-title {
    width: 100%;
    font-family: var(--montserrat-font);
    font-size: 1.875rem;
    font-weight: bold;
    text-transform: uppercase;
}
.action-text {
    font-family: var(--roboto-font);
    font-size: 1.125rem;
    font-weight: 200;
}
.header-btn {
    width: 100%;
    height: 2.5rem;
    background-color: var(--pink);
    border: 0.0625rem var(--pink) solid;
    border-radius: 2.5rem;
    color: var(--white);
    font-family: var(--montserrat-font);
    font-size: 0.875rem;
    font-weight: bold;
}
/*YOUR PARTNER*/
.your-partner-title {
    text-align: center;
    font-family: var(--montserrat-font);
    font-size: 1.375rem;
    font-weight: bold;
}
.your-partner-card {
    text-align: center;
}
.your-partner-card-wrap {
    margin-bottom: 1.5625rem;
}
.your-partner-card-photo {
    display: block;
    border: 0.0625rem solid #ffffff;
    border-radius: 120px;
    margin: auto;
    margin-bottom: 1.125rem;
}
.your-partner-card-title {
    width: 100%;
    font-family: var(--montserrat-font);
    font-size: 0.875rem;
    font-weight: bold;
    margin-bottom: 1.125rem;
}
.your-partner-card-text {
    width: 70%;
    margin: auto;
    font-family: var(--roboto-font);
    font-size: 0.875rem;
    font-weight: 200;
}
.your-partner-btn {
    height: 2.5rem;
    background-color: var(--whtie);
    border: 0.125rem var(--pink) solid;
    border-radius: 2.5rem;
    color: var(--pink);
    font-family: var(--montserrat-font);
    font-size: 0.875rem;
    font-weight: bold;
}
@media (min-width: 320px) and (max-width: 575px) {
    .header {
        background-image: url(../img/header-bg.png);
        height: 34.5rem;
        padding-top: 1.125rem;
    }
    .list-nav {
        margin-bottom: 7.5rem;
    }
    .nav-wrap {
        justify-content: space-between;
    }
    .nav {
        justify-content: center;
    }
    .logo-wrap {
        margin-bottom: 2.8125rem;
        text-align: center;
    }
    .action-title {
        margin-bottom: 1.125rem;
    }
    .action-text {
        margin-bottom: 1.125rem;
    }
    /*YOUR PARTNER*/
    .your-partner {
        padding-top: 4.5rem;
        padding-bottom: 3.4375rem;
    }
    .your-partner-title-wrap {
        margin-bottom: 1.125rem;
    }
    .your-partner-card:not(:last-child) {
        margin-bottom: 1.75rem;
    }
    .your-partner-card-photo {
        width: 37.5%;
    }
    .your-partner-btn {
        width: 100%;
    }
}
@media (min-width: 576px) {
    .header {
        background-image: url(../img/header-bg768.png);
        height: 43.75rem;
        padding-top: 2.5rem;
    }
    .nav {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10rem;
    }
    .action-title {
        font-size: 3.125rem;
        margin-bottom: 2.5rem;
    }
    .action-text {
        font-size: 1.5rem;
        margin-bottom: 2.125rem;
    }
    .header-btn {
        width: 50%;
    }
    /*YOUR PARTNER*/
    .your-partner {
        padding-top: 4.375rem;
        padding-bottom: 2.5rem;
    }
    .your-partner-title-wrap {
        margin-bottom: 2.06rem;
    }
    .your-partner-card-photo {
        display: block;
        border-radius: 50%;
        width: 50%;
    }
    .your-partner-btn {
        width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    .your-partner-card:nth-child(-n+2) {
        margin-bottom: 3.5rem;
    }
}
@media (min-width: 992px) {
    .header {
        background-image: url(../img/header-bg940.png);
    }
    .your-partner-card-photo{
        width: 80%;
    }
}