
:root {
    --white: #ffffff;
    --pink: #ff4e50;
}
.header {
    background-image: url(../img/header-bg.png);
    min-height: 34.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
    padding-top: 1.125rem;
}
.nav-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7.5rem;
}
.nav-item {
    display: block;
    color: var(--white);
    text-decoration: none;
    color: var(--white);
    text-align: center;
    border: 0.125rem solid rgba(255, 255, 255, 0);
    padding: 0.625rem 0.9375rem;
    border-radius: 1.125rem;
}
.nav-item:hover {
    border-color: rgba(255, 255, 255, 1);
}
.header-action {
    text-align: center;
}
.logo-wrap {
    margin-bottom: 2.8125rem;
    text-align: center;
}
.action-title {
    margin-bottom: 1.125rem;
}
.action-text {
    margin-bottom: 1.125rem;
}
.header-btn {
    width: 100%;
    height: 2.5rem;
    background-color: var(--pink);
    border: 0.0625rem var(--pink) solid;
    border-radius: 2.5rem;
    color: var(--white);

}
/*YOUR PARTNER*/
.your-partner {
    padding-top: 4.5rem;
}
.your-partner h2 {
    text-align: center;
}
.your-partner-title-wrap {
    margin-bottom: 1.125rem;
}
.your-partner-card {
    text-align: center;

}
.your-partner-card:not(:last-child) {
    margin-bottom: 1.75rem;
}
.your-partner-card h2 {
    margin-bottom: 1.125rem;
}
.your-partner-card-photo {
    display: block;
    border: 0.0625rem solid #ffffff;
    border-radius: 120px;
    width: 37.5%;
    margin: auto;
}
.your-partner-card-title {
    margin-bottom: 1.125rem;
}
.your-partner-btn {
    width: 100%;
    height: 2.5rem;
    background-color: var(--pink);
    border: 0.0625rem var(--pink) solid;
    border-radius: 2.5rem;
    color: var(--white);

}
