:root {
    --roboto-font: 'Roboto', sans-serif;
    --montserrat-font: 'Montserrat', sans-serif;
}

.header {

    color: #ffffff;
}
.navigation {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.menu a {
    display: block;
    padding: 0.625rem 1rem;
    border: 0.125rem solid rgba(255, 255, 255, 0);
    border-radius: 1.25rem;
    font-family: var(--montserrat-font);
    font-size: 0.875rem;
    font-weight: bold;
}
.menu a:hover {
    border-color: rgba(255, 255, 255, 1);
}

.navigation a {
    text-decoration: none;
    color: #ffffff;
}
.logo {
    font-family: var(--montserrat-font);
    font-size: 1.25rem;
    font-weight: bold;
}
.header-action {
    text-align: center;
}
.header-action h2 {
    font-family: var(--montserrat-font);
    font-size: 1.875rem;
    font-weight: bold;
    width: 80%;
    margin: auto;
}
.header-action p {
    font-family: var( --roboto-font);
    font-size: 1.125rem;
    font-weight: 200;
    width: 70%;
    margin: auto;
}
.header-button {
    background-color: #ff4e50;
    border: 0.0625rem solid #ff4e50;
    color: #ffffff;
    padding: 0.625rem 1.25rem;
    border-radius: 1.25rem;
    display: block;
    margin: auto;
    font-family: var(--montserrat-font);
    font-size: 0.875rem;
    font-weight: bold;
}
/*YOUR PARTNER*/
.your-partner h2 {
    font-family: var(--montserrat-font);
    font-weight: bold;
    font-size: 1.375rem;
    margin: auto;
}
.your-partner-card-photo {
    border: 0.0625rem solid #ffffff;
    border-radius: 50%;
    overflow: hidden;
}
.your-partner-card img {
    display: block;
    height: auto;
}
.your-partner-card h3 {
    font-family: var(--montserrat-font);
    font-weight: bold;
    font-size: 0.875rem;
    margin: auto;
}
.your-partner-card p {
    font-family: var(--montserrat-font);
    font-size: 0.875rem;
    font-weight: 300;
    margin: auto;
}
.your-partner-button {
    background-color: #ffffff;
    border: 0.125rem solid #ff4e50;
    padding: 0.625rem 2.5rem;
    border-radius: 1.25rem;
    display: block;
    display: block;
    margin: auto;
    font-family: var(--montserrat-font);
    font-size: 0.875rem;
    font-weight: bold;
    color: #ff4e50;
}
@media (min-width: 320px) and (max-width: 766px) {
    /*HEADER*/
    .header {
        background-image: url(../img/header-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        padding-top: 1.5rem;
        padding-bottom: 3.125rem;
    }
    .navigation {
        margin-bottom: 1.875rem;
    }
    .menu {
        display: flex;
        justify-content: center;
        margin-bottom: 7.5rem;
    }
    .menu li {
        flex: 0 0 30%;
    }
    .menu li:not(:last-child) {
        margin-right: 0.625rem;
    }
    .header-action h2 {
        margin-bottom: 1.25rem;
    }
    .header-action p {
        margin-bottom: 1rem;
    }
    .header-button {
        width: 90%;
    }
    /*YOUR PARTNER*/
    .your-partner {
        text-align: center;
        padding-top: 4.375rem;
        padding-bottom: 3.125rem;
    }
    .your-partner h2 {
        margin-bottom: 1.25rem;
        width: 90%;

    }
    .your-partner-card-wrap {
        margin-bottom: 1.875rem;
    }
    .your-partner-card {
        margin-bottom: 1.875rem;
        width: 75%;
        margin: auto;
    }
    .your-partner-card-photo {
        width: 50%;
        margin: auto;
        margin-bottom: 1.25rem;
    }
    .your-partner-card img {
        width: 100%;
    }
    .your-partner-card h3 {
        margin-bottom: 1rem;
        width: 50%;
    }
    .your-partner-card:not(:last-child) {
        margin-bottom: 1.875rem;
    }
    .your-partner-button {
        width: 90%;
    }
}
@media (min-width: 768px) and (max-width: 939px) {
    .header {
        padding-top: 3.125rem;
        background-image: url(../img/header-bg768.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
        color: #ffffff;
    }
    .navigation {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 9.375rem;
    }
    .menu {
        display: flex;
        flex: 0 0 30%;

    }
    .navigation a {
        flex: 0 0 30%;
    }
    .header-action h2 {
        margin-bottom: 2.8125rem;
        font-size: 3.25rem;
    }
    .header-action p {
        margin-bottom: 2.1875rem;
        font-size: 1.5rem;
    }
    .header-button {
        width: 30%;
    }
    /*YOUR PARTNER*/
    .your-partner-wrap {
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;
    }
    .your-partner {
        width: 50%;
        margin: auto;
        text-align: center;
    }
    .your-partner h2 {
        margin-bottom: 1.875rem;
        font-size: 1.375rem;
        font-weight: bold;
    }
    .your-partner-card-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 2.1875rem;
    }
    .your-partner-card {
        flex: 0 0 40%;
    }
    .your-partner-card:not(:nth-last-child(-n+2)) {
        margin-bottom: 3.4375rem;
    }
    .your-partner-card-photo {
        margin-bottom: 1rem;
    }
    .your-partner-card img {
        width: 100%;
    }
    .your-partner-card h3 {
        margin-bottom: 1.25rem;
    }
    .your-partner-button {
        width: 70%;
    }
}
@media (min-width: 940px) {
    .header {
        padding-top: 3.125rem;
        background-image: url(../img/header-bg940.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
        color: #ffffff;
    }
    .navigation {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 9.375rem;
    }
    .menu {
        display: flex;
        flex: 0 0 30%;

    }
    .navigation a {
        flex: 0 0 30%;
        justify-content: space-around;
    }
    .header-action h2 {
        margin-bottom: 2.8125rem;
        font-size: 3.25rem;
        width: 35%;
    }
    .header-action p {
        margin-bottom: 2.1875rem;
        font-size: 1.5rem;
    }
    .header-button {
        width: 30%;
    }
    /*YOUR PARTNER*/
    .your-partner-wrap {
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;
    }
    .your-partner {
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .your-partner h2 {
        margin-bottom: 1.875rem;
        font-size: 1.375rem;
        font-weight: bold;
    }
    .your-partner-card-wrap {
        display: flex;
        justify-content: space-around;
        margin-bottom: 2.1875rem;
    }
    .your-partner-card {
        flex: 0 0 10%;
    }
    .your-partner-card-photo {
        margin-bottom: 1rem;
    }
    .your-partner-card img {
        width: 100%;
    }
    .your-partner-card h3 {
        margin-bottom: 1.25rem;
    }
    .your-partner-button {
        width: 30%;
    }