* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-image: url(../img/background.png);
    min-height: 100vh;
    font-family: 'Pathway Gothic One', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px; 
}
.wrapper {
    width: 480px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(../img/wrapper.png);

}
.block{    
    margin-bottom: 40px;
}
.second-block{
    margin-bottom: 40px; 
}
.third-block {
    padding-top: 40px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #DEDBDB;
}
.title {
    margin-bottom: 20px;
    color: #263555;
}
.block img {
    margin-bottom: 20px;
    display: block;
    width: 100%
}
.annotation{
    margin-bottom: 10px;
    color: #263555;
    font-weight: bold;
}
.paragraph{
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    columns: 2;
    color: #263555;
    font-weight: bold;
}
li {
    display: inline-block;
    margin-bottom: 10px;
}