* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: 300;
    line-height: 1.0;
}
body {
    padding-top: 50px;
    padding-bottom: 50px;
    
    min-height: 100vh;
    background-image: url(../img/background.jpg);
    font-family: 'Pathway Gothic One', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    counter-reset: couner;
}
.wrapper {
    width: 1000px;
    padding-top: 115px;
    padding-bottom: 80px;
    padding-left: 60px;
    padding-right: 70px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(../img/wrapper.jpg);
    height: auto;
    overflow: hidden;
}

img {
    float: left;
    margin-right:25px; 
}
.title {
    margin-bottom: 50px;
    color: #263555;
    text-align: left;
    font-size: 32px;
}
.profile {
    display: inline-block;
    width: 68%;
    vertical-align: top;
   /* margin-right: 50px;*/
}
.profile p:last-child {
    margin-bottom: 0px;
}
.principles {
    display: inline-block;
    width: 30%;
    padding-left: 50px;
}
.principles p {
    margin-bottom: 20px;
   /* padding-left: 47px;*/
}
.principles p:last-child {
    margin-bottom: 0px;
}
.anotation {
    margin-bottom: 20px;
    color: #263555;
    font-weight: bold;
}


ul {
    list-style-type: none;
}
.li {
    margin-bottom: 35px;
    counter-increment: counter;
}
.li:last-child {
    margin-bottom: 0px;
}
.li::before {
    content: counter(counter);
    margin-right: 10px;
    color: #ffffff;
    border: 1px solid #38AFE5;
    padding: 5px 10px 5px 10px;
    background-color: #38AFE5;
    border-radius: 50%;
    display: inline-block; 
}
.counter {
    display: inline-block;
    width: 165px;
    vertical-align: top;
}
.li p {
    margin-top: 15px;
    
}
h3 {
    display: inline-block;
    color: #263555;
}
.firstPart {
    border-bottom: 1px solid #DEDBDB;
    padding-bottom: 50px;
}
/*Second Part*/

.offer {
    display: inline-block;
    width: 68%;
    vertical-align: top;
}
.offer ul{
    columns: 2;
}
.offer li::before {
    content: '\2192';
    color: #38AFE5;
    margin-right: 10px;
}
.offer li {
    margin-bottom: 20px;
}
/*.offer li:nth-child(5) {
    margin-bottom: 0px;
}*/
.offer li:last-child {
    margin-bottom: 0px;
}
.article {
    margin-bottom: 20px;
}
.testimonial {
    display: inline-block;
    width: 28%;
    padding-left: 50px;
}
.quote {
    border: 1px solid #DFDCDC;
    padding: 20px;
    background-color: #FCFAFA;
    border-radius: 3%;
}
.quote p {
    text-align: left;
}
.quote p::before {
    content: '\93';
}
.quote p::after {
    content: '\94'; 
}
.testimonial h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.testimonial:last-child {
    text-align: center;
}
.secondPart {
    padding-top: 50px;
}